.cell {
  background-color: #CCE9F8;
  height: 40px;
  width: 40px;
  border: #0089EB solid 2px;
}
.scell {
  background-color: #CCE9F8;
  height: 40px;
  width: 40px;
  border: #0089EB solid 2px;
}
#shot-board{
  width: 80%;
  margin-left: 35%;
  margin-right: 35%;
}

#grid {
  width: 80%;
  margin-left: 35%;
  margin-right: 35%;
}

table {
  border-collapse: collapse;
  color: navy;
}

a {
  color: navy;
  text-decoration: none;
}

.ship-shadow{
  background-color: #FF0080
}
.ship-placed{
  background-color: gray
}

.shot-shadow{
  background-color:#e97451
}
.shot-hit{
  background-color: red;
}
.shot-miss{
  background-color:#e3dac9
}
/*$('.cell').css('background-color', '#CCE9F8');
        $(this).css('background-color', 'gray');*/
