<h1>Shot Board</h1>
<div id="shot-board">
<table style="text-align: center;">
  <tr>
    <th></th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>F</th>
    <th>G</th>
    <th>H</th>
    <th>I</th>
    <th>J</th>
  </tr>
  <tr>
    <th>1</th>
    <td class="scell">A1</td>
    <td class="scell">B1</td>
    <td class="scell">C1</td>
    <td class="scell">D1</td>
    <td class="scell">E1</td>
    <td class="scell">F1</td>
    <td class="scell">G1</td>
    <td class="scell">H1</td>
    <td class="scell">I1</td>
    <td class="scell">J1</td>
  </tr>
  <tr>
    <th>2</th>
    <td class="scell">A2</td>
    <td class="scell">B2</td>
    <td class="scell">C2</td>
    <td class="scell">D2</td>
    <td class="scell">E2</td>
    <td class="scell">F2</td>
    <td class="scell">G2</td>
    <td class="scell">H2</td>
    <td class="scell">I2</td>
    <td class="scell">J2</td>
  </tr>
  <tr>
    <th>3</th>
    <td class="scell">A3</td>
    <td class="scell">B3</td>
    <td class="scell">C3</td>
    <td class="scell">D3</td>
    <td class="scell">E3</td>
    <td class="scell">F3</td>
    <td class="scell">G3</td>
    <td class="scell">H3</td>
    <td class="scell">I3</td>
    <td class="scell">J3</td>
  </tr>
  <tr>
    <th>4</th>
    <td class="scell">A4</td>
    <td class="scell">B4</td>
    <td class="scell">C4</td>
    <td class="scell">D4</td>
    <td class="scell">E4</td>
    <td class="scell">F4</td>
    <td class="scell">G4</td>
    <td class="scell">H4</td>
    <td class="scell">I4</td>
    <td class="scell">J4</td>
  </tr>
  <tr>
    <th>5</th>
    <td class="scell">A5</td>
    <td class="scell">B5</td>
    <td class="scell">C5</td>
    <td class="scell">D5</td>
    <td class="scell">E5</td>
    <td class="scell">F5</td>
    <td class="scell">G5</td>
    <td class="scell">H5</td>
    <td class="scell">I5</td>
    <td class="scell">J5</td>
  </tr>
  <tr>
    <th>6</th>
    <td class="scell">A6</td>
    <td class="scell">B6</td>
    <td class="scell">C6</td>
    <td class="scell">D6</td>
    <td class="scell">E6</td>
    <td class="scell">F6</td>
    <td class="scell">G6</td>
    <td class="scell">H6</td>
    <td class="scell">I6</td>
    <td class="scell">J6</td>
  </tr>
  <tr>
    <th>7</th>
    <td class="scell">A7</td>
    <td class="scell">B7</td>
    <td class="scell">C7</td>
    <td class="scell">D7</td>
    <td class="scell">E7</td>
    <td class="scell">F7</td>
    <td class="scell">G7</td>
    <td class="scell">H7</td>
    <td class="scell">I7</td>
    <td class="scell">J7</td>
  </tr>
  <tr>
    <th>8</th>
    <td class="scell">A8</td>
    <td class="scell">B8</td>
    <td class="scell">C8</td>
    <td class="scell">D8</td>
    <td class="scell">E8</td>
    <td class="scell">F8</td>
    <td class="scell">G8</td>
    <td class="scell">H8</td>
    <td class="scell">I8</td>
    <td class="scell">J8</td>
  </tr>
  <tr>
    <th>9</th>
    <td class="scell">A9</td>
    <td class="scell">B9</td>
    <td class="scell">C9</td>
    <td class="scell">D9</td>
    <td class="scell">E9</td>
    <td class="scell">F9</td>
    <td class="scell">G9</td>
    <td class="scell">H9</td>
    <td class="scell">I9</td>
    <td class="scell">J9</td>
  </tr>
  <tr>
    <th>10</th>
    <td class="scell">A10</td>
    <td class="scell">B10</td>
    <td class="scell">C10</td>
    <td class="scell">D10</td>
    <td class="scell">E10</td>
    <td class="scell">F10</td>
    <td class="scell">G10</td>
    <td class="scell">H10</td>
    <td class="scell">I10</td>
    <td class="scell">J10</td>
  </tr>
</table>
</div>



<h1>Your Board</h1>
<div id="grid">
<table style="text-align: center;">
  <tr>
    <th class="scell"></th>
    <th class="scell">A</th>
    <th class="scell">B</th>
    <th class="scell">C</th>
    <th class="scell">D</th>
    <th class="scell">E</th>
    <th class="scell">F</th>
    <th class="scell">G</th>
    <th class="scell">H</th>
    <th class="scell">I</th>
    <th class="scell">J</th>
  </tr>
  <tr>
    <th>1</th>
    <td class="cell">A1</a></td>
    <td class="cell">B1</a></td>
    <td class="cell">C1</a></td>
    <td class="cell">D1</a></td>
    <td class="cell">E1</a></td>
    <td class="cell">F1</a></td>
    <td class="cell">G1</a></td>
    <td class="cell">H1</a></td>
    <td class="cell">I1</a></td>
    <td class="cell">J1</a></td>
  </tr>
  <tr>
    <th>2</th>
    <td class="cell">A2</a></td>
    <td class="cell">B2</a></td>
    <td class="cell">C2</a></td>
    <td class="cell">D2</a></td>
    <td class="cell">E2</a></td>
    <td class="cell">F2</a></td>
    <td class="cell">G2</a></td>
    <td class="cell">H2</a></td>
    <td class="cell">I2</a></td>
    <td class="cell">J2</a></td>
  </tr>
  <tr>
    <th>3</th>
    <td class="cell">A3</a></td>
    <td class="cell">B3</a></td>
    <td class="cell">C3</a></td>
    <td class="cell">D3</a></td>
    <td class="cell">E3</a></td>
    <td class="cell">F3</a></td>
    <td class="cell">G3</a></td>
    <td class="cell">H3</a></td>
    <td class="cell">I3</a></td>
    <td class="cell">J3</a></td>
  </tr>
  <tr>
    <th>4</th>
    <td class="cell">A4</a></td>
    <td class="cell">B4</a></td>
    <td class="cell">C4</a></td>
    <td class="cell">D4</a></td>
    <td class="cell">E4</a></td>
    <td class="cell">F4</a></td>
    <td class="cell">G4</a></td>
    <td class="cell">H4</a></td>
    <td class="cell">I4</a></td>
    <td class="cell">J4</a></td>
  </tr>
  <tr>
    <th>5</th>
    <td class="cell">A5</a></td>
    <td class="cell">B5</a></td>
    <td class="cell">C5</a></td>
    <td class="cell">D5</a></td>
    <td class="cell">E5</a></td>
    <td class="cell">F5</a></td>
    <td class="cell">G5</a></td>
    <td class="cell">H5</a></td>
    <td class="cell">I5</a></td>
    <td class="cell">J5</a></td>
  </tr>
  <tr>
    <th>6</th>
    <td class="cell">A6</a></td>
    <td class="cell">B6</a></td>
    <td class="cell">C6</a></td>
    <td class="cell">D6</a></td>
    <td class="cell">E6</a></td>
    <td class="cell">F6</a></td>
    <td class="cell">G6</a></td>
    <td class="cell">H6</a></td>
    <td class="cell">I6</a></td>
    <td class="cell">J6</a></td>
  </tr>
  <tr>
    <th>7</th>
    <td class="cell">A7</a></td>
    <td class="cell">B7</a></td>
    <td class="cell">C7</a></td>
    <td class="cell">D7</a></td>
    <td class="cell">E7</a></td>
    <td class="cell">F7</a></td>
    <td class="cell">G7</a></td>
    <td class="cell">H7</a></td>
    <td class="cell">I7</a></td>
    <td class="cell">J7</a></td>
  </tr>
  <tr>
    <th>8</th>
    <td class="cell">A8</a></td>
    <td class="cell">B8</a></td>
    <td class="cell">C8</a></td>
    <td class="cell">D8</a></td>
    <td class="cell">E8</a></td>
    <td class="cell">F8</a></td>
    <td class="cell">G8</a></td>
    <td class="cell">H8</a></td>
    <td class="cell">I8</a></td>
    <td class="cell">J8</a></td>
  </tr>
  <tr>
    <th>9</th>
    <td class="cell">A9</a></td>
    <td class="cell">B9</a></td>
    <td class="cell">C9</a></td>
    <td class="cell">D9</a></td>
    <td class="cell">E9</a></td>
    <td class="cell">F9</a></td>
    <td class="cell">G9</a></td>
    <td class="cell">H9</a></td>
    <td class="cell">I9</a></td>
    <td class="cell">J9</a></td>
  </tr>
  <tr>
    <th>10</th>
    <td class="cell">A10</a></td>
    <td class="cell">B10</a></td>
    <td class="cell">C10</a></td>
    <td class="cell">D10</a></td>
    <td class="cell">E10</a></td>
    <td class="cell">F10</a></td>
    <td class="cell">G10</a></td>
    <td class="cell">H10</a></td>
    <td class="cell">I10</a></td>
    <td class="cell">J10</a></td>
  </tr>
</table>
</div>


<div id="ships">
<p class="ship" value="2">Destroyer</p><br><br>
<p class="ship" value="3">Submarine</p><br><br>
<p class="ship" value="3">Cruiser</p><br><br>
<p class="ship" value="4">BattleShip</p><br><br>
<p class="ship" value="5">Carrier</p><br><br><br>
</div>


<div id="ready-button"> <h1>Ready</h1></div>
<div id="toggle-button">
    <button>Rotate Ship</button>
</div>
<h2 id="board-id" class="hidden"><%=@board.id%></h2>
